# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List some of the popular languages that Data Scientists
- Mention some of the commonly used libraries used by Data Scientists
- Give examples of evaluating arithmetic expressions in Python
- Insert a markdown cell between cells
- Use ordered and unordered lists in markdowns

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn
4. Dplyr
5. Caret
6. Ggplot2

Data Science Tools |
-----| 
Jupyter Notebooks|
R Studio|
Sypder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author
Pamela Yusuf